.button {
    margin: 10px;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.button:hover {
    cursor: pointer;
    color: white;
}

.primary {
    background-color: royalblue;
}

.danger {
    background-color: crimson;
}

.button.primary:hover {
    background-color: cornflowerblue;
}

.button.danger:hover {
    background-color: red;
}