#container {
    text-align: center;
}

#navigation {
    background-color: royalblue;
    overflow: hidden;
}

#navigation ul {
    list-style-type: none;
    display: inline-flex;
    padding: 0%;
}

#navigation a {
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

#navigation a:hover {
    background-color: cornflowerblue;
}

.active {
    border: 1px solid;
}

@media screen and (max-width: 600px) {
    .navigation ul {
        display: flow;
    }
}