.hotelContent input {
    display: block;
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 30px;
    width: 225px;
}

.hotelContent select {
    display: block;
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 30px;
    width: 225px;
}

.hotelContent textarea {
    display: block;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 225px;
}